
body {background-image:url('/images/diamondPlateTile12.png');
     
     }


#inputBox{
    background-color: #ff0000; 
    color: #000000;
}

.inputBox{
    
    background-color:#ffffff;
    height: 10%;
    width: 40%;
    
    font-size: XX-large;
    
}


/* class */
#orderedListOfUsers{
    font-size: xx-large;
}

/* id */
.orderedListOfUsers{
    
    width: 33%;
    min-height: 10%;
    font-family: 'Times New Roman',Times,serif;
    font-size: X-large;
    font-weight: bold;
    background-color: green;
}